nav{
    background-color: rgb(160, 221, 160);
}
article a{
    display: inline-block;
    background-color: rgb(190, 178, 178);
    color:black;
    padding:10px;
    border-radius: 3px;
}
img{
    display:block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.container{
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}
nav a {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
}
